@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pridi";
  src: url("../public/fonts/Pridi-Regular.woff2") format("woff2"),
    url("../public/fonts/Pridi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Play";
  src: url("../public/fonts/Play-Regular.woff2") format("woff2"),
    url("../public/fonts/Play-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: white;
  background: black;
}
p {
  font-family: "Pridi", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Play", sans-serif;
}
